body {
  background: linear-gradient(to right, #1f1c18 50%, #8e0900c9) !important;
  background-repeat: no-repeat;
  font-family: "Source Sans Pro", Arial, sans-serif !important;
}
.banner-gradient {
  height: 700px;
  background-size: cover;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
}
.banner-gradient-details {
  background-size: contain;
  position: relative;
  background-position: 50% 30%;
  background-repeat: no-repeat;
}
@media (min-width: 992px) {
  .banner-gradient-details {
    height: 500px;
  }
}
div .film-info {
  position: relative;
  top: 50%;
}
nav.topnav {
  transition: all 0.3s ease-in-out;
}
div.slick-initialized .slick-slide {
  padding: 30px;
}
div.card {
  background-color: transparent;
  border: 0;
  color: #ffffffc4;
}

div.row {
  margin-right: 0;
  margin-left: 0;
}

iframe.youtubeModal {
  margin: 0 10%;
}
@media (max-width: 992px) {
  iframe.youtubeModal {
    margin: 0 0;
    width: 450px;
  }
}

@media (max-width: 550px) {
  iframe.youtubeModal {
    margin: 0 2%;
    width: 350px;
  }
}

button.slick-next {
  right: -1px;
}
button.slick-prev {
  left: -1px;
}
